@model IEnumerable<CarRental.WebApp.Models.CarVM>

<p>
    <a asp-action="Create" class="btn btn-success"><i class="material-icons">&#xE147;</i> <span class="btntext">Add New Car</span></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mileage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mileage)
            </td>
            <td>
                <a class="edit" href="@Url.Action("Edit", new { id=item.Id })"><i class="material-icons" title="Edit">&#xE254;</i></a>
                <a class="delete" href="@Url.Action("Delete", new { id=item.Id })"><i class="material-icons" title="Delete">&#xE872;</i></a>
                <a class="details" href="@Url.Action("Details", new { id=item.Id })"><i class="material-icons" title="Details">&#xE873;</i></a>
            </td>
        </tr>
}
    </tbody>
</table>
