@model CarRental.WebApp.Models.RentVM

<div>
    <h4>Rent</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
    </dl>

    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.ProductionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.ProductionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Mileage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Mileage)
        </dd>
    </dl>

    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.SecondName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.SecondName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Country)
        </dd>
    </dl>
</div>
<div>
    <a href="@Url.Action("Edit", new { id=Model.Id })" class="btn btn-primary"><i class="material-icons">&#xE254;</i> <span class="btntext">Edit Customer</span></a>
    <a asp-action="Index" class="btn btn-secondary"><i class="material-icons">&#xE5C4;</i> <span class="btntext">Back to List</span></a>
</div>
