@model IEnumerable<CarRental.WebApp.Models.RentVM>

<p>
    <a asp-action="Create" class="btn btn-success"><i class="material-icons">&#xE147;</i> <span class="btntext">Add New Rent</span></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Car @Html.DisplayNameFor(model => model.Car.Id)
            </th>
            <th>
                Customer @Html.DisplayNameFor(model => model.Customer.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                <a class="edit" href="@Url.Action("Edit", new { id=item.Id })"><i class="material-icons" title="Edit">&#xE254;</i></a>
                <a class="delete" href="@Url.Action("Delete", new { id=item.Id })"><i class="material-icons" title="Delete">&#xE872;</i></a>
                <a class="details" href="@Url.Action("Details", new { id=item.Id })"><i class="material-icons" title="Details">&#xE873;</i></a>
            </td>
        </tr>
}
    </tbody>
</table>
